####################################
# BASE CONFIG
####################################
name = "agw"
main = "workers/api.js"
compatibility_date = "2024-11-22"

####################################
# PROD (default)
####################################
[[kv_namespaces]]
binding = "AGW_USERS"
id = "3725586272cd410f90ba2edbabe4e398"   # ✔ PROD

[[kv_namespaces]]
binding = "AGW_SESSIONS"
id = "6f35dfdab9974b5a977bdc05f2ca1243"   # ✔ PROD

[[kv_namespaces]]
binding = "AGW_ADMIN"
id = "95d60959cc3c45d189e049b30ee77593"   # ✔ PROD

[vars]
ADMIN_TOKEN = "agw-secret-admin-token"

####################################
# ENV: PRODUCTION
####################################
[env.production]

[[env.production.kv_namespaces]]
binding = "AGW_USERS"
id = "3725586272cd410f90ba2edbabe4e398"

[[env.production.kv_namespaces]]
binding = "AGW_SESSIONS"
id = "6f35dfdab9974b5a977bdc05f2ca1243"

[[env.production.kv_namespaces]]
binding = "AGW_ADMIN"
id = "95d60959cc3c45d189e049b30ee77593"

####################################
# ENV: DEV
####################################
[env.dev]

[[env.dev.kv_namespaces]]
binding = "AGW_USERS"
id = "499129c872bb4654a337592974e0da56"   # ✔ DEV

[[env.dev.kv_namespaces]]
binding = "AGW_SESSIONS"
id = "38d02e81e4d047988b534a7785aa5e8b"   # ✔ DEV

[[env.dev.kv_namespaces]]
binding = "AGW_ADMIN"
id = "c2c967feff0646168df214ceec8747eb"   # ✔ DEV

[env.dev.vars]
ADMIN_TOKEN = "agw-secret-admin-token"
