name = "agw"
main = "workers/api.js"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

# Collegamento dominio al worker
routes = [
  { pattern = "agw-api.webonday.it", custom_domain = true }
]

# KV namespaces
[[kv_namespaces]]
binding = "AGW_USERS"
id = "532cf4782eb64b129f9493c787939222"
preview_id = "499129c872bb4654a337592974e0da56"

# Variabili globali
[vars]
ADMIN_TOKEN = "agw-secret-admin-token"

# Ambiente DEV
[env.dev]
name = "agw-dev"
compatibility_date = "2024-11-22"

[[env.dev.kv_namespaces]]
binding = "AGW_USERS"
preview_id = "499129c872bb4654a337592974e0da56"

[env.dev.vars]
ADMIN_TOKEN = "agw-secret-admin-token"

# Ambiente PRODUCTION
[env.production]
PUBLIC_API_URL = "https://agw-api.webonday.it"
PUBLIC_APP_URL = "https://agw.webonday.it"
