@tailwind base;
@tailwind components;
@tailwind utilities;

/* AGW theme */
@layer base {
  :root {
    --agw-black: 0 0% 0%;
    --agw-gold: 47 95% 55%;
    --agw-gold-soft: 47 90% 65%;
    --agw-gray: 220 10% 22%;
  }
}
